@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --colorprimary: #121212;
  --colorsecondary: #ffffff;

  --greycolor: rgb(172, 172, 172);

  --securecolor: rgba(28, 123, 255);
  --ctacolor: rgb(101, 211, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

a {
  text-decoration: none;
  color: var(--colorsecondary);
  text-transform: capitalize;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

p.description {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--greycolor);
}


/* NAVIGATION */
nav {
  position: fixed;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #cbcbcb;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.421);
  z-index: 1000;

  .logo {
    width: 50px;
    height: 50px;
  }

  .box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;

      .item {
        padding: 1rem 1rem;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          font-weight: 700;
          color: #121212;
          display: inline-block;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          a {
            scale: 112%;
            color: var(--securecolor);
          }
        }
      }

      .item.active {
        a {
          color: var(--securecolor);
        }
      }

      &:hover {
        filter: blur(0px);

        .item:not(:hover) {
          filter: blur(10px);
        }
      }
    }

    .menu-aside {
      display: none;
      transition: all 0.3s ease-in-out;
      margin-right: 1rem;

      i {
        color: white;
        background: linear-gradient(60deg, var(--securecolor), var(--ctacolor));
        border-radius: 1rem;
        padding: .5rem;
        font-size: 1.5rem;
      }
    }

    a.sign {
      text-decoration: none;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      font-weight: 800;
      color: white;
      transition: all 0.3s ease-in-out;
      background: linear-gradient(60deg, var(--securecolor), var(--ctacolor));

      &:hover {
        scale: 104%;
        rotate: 2deg;
      }
    }
  }
}

/* ASIDE MENU */
.aside {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  display: flex;
  border-left: 1px solid #cbcbcb;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.421);
  z-index: 2000;
  transition: all .3s ease-in-out;

  .aside-box {
    position: absolute;
    top: 0;
    right: -200px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
    width: 100%;

    .item {
      width: 100%;
      padding: 1rem 1rem;
      transition: all 0.3s ease-in-out;

      a {
        text-decoration: none;
        font-weight: 700;
        color: #121212;
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        a {
          scale: 112%;
          color: var(--securecolor);
        }
      }
    }

    .item.active {
      a {
        color: var(--securecolor);
      }
    }

    &:hover {
      filter: blur(0px);

      .item:not(:hover) {
        filter: blur(10px);
      }
    }
  }
}

/* PRESENTATION */
.filter {
  position: relative;

  background: url("../img/slider-left-dec.png"), url("../img/slider-dec.png");
  background-position: 0% 0%, 95% 60%;
  background-repeat: no-repeat;
  background-size: 90%, 30%;

  .presentation {
    width: 100%;
    height: 135vh;
    margin-bottom: 5rem;
    transition: all 2s ease-in-out;
    backdrop-filter: blur(0px);

    .box {
      position: relative;
      top: 33%;
      left: 7%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 50%;
      height: fit-content;
      backdrop-filter: blur(0px);
      background: rgba(255, 255, 255, 0.126);
      padding: 1rem 2rem;
      border-radius: 30px;

      h1 {
        font-size: 3rem;
        color: var(--colorprimary);
      }

      p {
        color: var(--colorsecondary);
        font-size: 1rem;
      }

      .button-box {
        display: flex;
        gap: 2rem;

        a {
          border-radius: 30px;
          padding: 0.5rem 2rem;
          font-size: 1rem;
          font-weight: 800;
          color: white;
          transition: all 0.3s ease-in-out;
          background: linear-gradient(60deg, var(--securecolor), var(--ctacolor));

          &:hover {
            scale: 104%;
            rotate: 2deg;
          }
        }
      }
    }

    &:has(.box .button-box a:hover) {
      backdrop-filter: blur(30px);
    }
  }
}

.services,
.aboutus,
.clients,
.prices {

  .title,
  .title.leftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    width: 45%;

    h2 {
      span {
        color: var(--securecolor);
      }
    }

    p.description {
      text-align: center;

      a {
        position: relative;
        color: var(--securecolor);
        font-weight: 400;

        &::after {
          content: "";
          position: absolute;
          background-color: var(--securecolor);
          bottom: -2px;
          left: 0px;
          width: 0%;
          height: 0px;
          transition: all 0.2s ease-in-out;
        }

        &:hover::after {
          width: 100%;
          height: 2px;
        }
      }
    }
  }
}

/* SERVICES */
.services {
  height: 100%;
  width: 100%;
  background: url("../img/services-right-dec.png"),
    url("../img/services-left-dec.png");
  background-position: 100% 0%, 0% 100%;
  background-repeat: no-repeat;
  background-size: 70%, 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;

  .services-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    height: 100%;
    margin-bottom: 5rem;

    .services-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.5rem;
      width: 25%;
      height: fit-content;
      background: rgb(255, 255, 255);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px 20px 5px 5px;
      padding: 2rem;
      transition: all 0.3s ease-in-out;

      img {
        width: 50px;
        height: 50px;
      }

      h3 {
        font-size: 1.2rem;
        text-transform: capitalize;
      }

      p.description {
        line-height: 2;

        a {
          position: relative;
          color: var(--securecolor);
          font-weight: 400;

          &::after {
            content: "";
            position: absolute;
            background-color: var(--securecolor);
            bottom: -2px;
            left: 0px;
            width: 0%;
            height: 0px;
            transition: all 0.2s ease-in-out;
          }

          &:hover::after {
            width: 100%;
            height: 1px;
          }
        }
      }

      .box-link {
        translate: 0px 0px;
        transition: all 1s ease-in-out;

        a {
          font-weight: 400;
        }

        a,
        i {
          color: var(--securecolor);
          transition: all 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.2);
        }

        &:hover i {
          translate: 5px 0px;
        }
      }

      &:hover {
        background: url(../img/service-bg.jpg);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;

        .box-link {

          a,
          i {
            color: var(--colorsecondary);
          }
        }

        h3 {
          color: var(--colorsecondary);
        }

        p.description {
          color: var(--colorsecondary);

          a {
            color: var(--colorsecondary);
          }
        }
      }
    }
  }
}

/* À PROPOS DE */
.aboutus {
  height: 100%;
  width: 100%;
  background: url("../img/about-right-dec.png"), url("../img/about-bg.jpg");
  background-position: 80% 0%, 100% 60%;
  background-repeat: no-repeat;
  background-size: 40%, 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;

  .title.leftbox {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0rem 5rem;

    p.description {
      text-align: left;
      font-weight: 300;
    }
  }

  .aboutus-boxes {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;

    .aboutus-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      background: rgb(255, 255, 255);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      padding: 1rem;
      transition: all 0.3s ease-in-out;
      gap: 1rem;

      h3 {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      &:hover h3 {
        color: var(--securecolor);
      }
    }
  }

  .note {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 5rem;

    p,
    p.notabene {
      line-height: 2;
      width: 70%;
      font-weight: 600;
      color: #b1b1b1;
    }

    p.notabene {
      color: #555555;
    }

    a {
      text-decoration: none;
      border-radius: 30px;
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: 900;
      color: white;
      transition: all 0.3s ease-in-out;
      background: linear-gradient(60deg, var(--securecolor), var(--ctacolor));

      &:hover {
        scale: 104%;
        rotate: 2deg;
      }
    }
  }
}

/* CLIENTS */
.clients {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  margin-bottom: 5rem;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/slider-left-dec.png");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 45%;
    transform: rotate(360deg);
    z-index: -10;
  }

  .title {
    h2 {
      text-align: center;
    }

    p.description {
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.571);
      padding: 1rem 2rem;
    }
  }

  .clients-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;

    .statistics {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 50%;
      margin-bottom: 5rem;

      .clients-statistics {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem 2rem;
        background: rgba(255, 255, 255);
        border-radius: 10px;
        border: 0.03rem solid rgba(0, 0, 0, 0.1);
        transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        cursor: pointer;

        &::before {
          position: absolute;
          content: "";
          z-index: -1;
          width: 100%;
          height: 100%;
          top: 1rem;
          left: 1rem;
          border-radius: 10px;
          rotate: 1deg;
          background: linear-gradient(60deg, var(--securecolor), var(--ctacolor));
          transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:hover {
          background: linear-gradient(60deg,
              rgba(28, 123, 255, 0.4),
              rgba(101, 211, 255, 0.4));

          &::before {
            top: 0.5rem;
            left: 0.5rem;
            rotate: 3deg;
          }

          .namedate-box,
          .namedate-box p,
          .type-clients h4,
          .note-avis {
            color: white;
          }
        }

        .namedate-box {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;

          p {
            color: rgba(122, 122, 122);
          }
        }

        .type-clients h4 {
          color: rgba(122, 122, 122);
        }

        .note-avis {
          color: rgba(122, 122, 122);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.2rem;
        }
      }
    }

    /* QUOTES */
    .quote-presentation {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      width: 50%;

      .quotes,
      .presentations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .quotes {
        .quote-client {
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 2rem;
          width: 75%;
          padding: 3rem;
          height: 45vh;
          border-radius: 20px;
          background: url("../img/client-bg.png");
          background-repeat: no-repeat;
          background-size: 160%;
          background-position: 0% 0%;

          img {
            width: 70px;
            height: 70px;
          }

          blockquote {
            color: white;
            font-style: italic;
            font-size: 1rem;
            font-weight: 400;
          }
        }

        .quote-client.visible {
          display: flex;
        }
      }

      .presentations {
        .clients-presentation {
          display: none;
          justify-content: flex-start;
          align-items: center;
          width: 80%;
          height: 30vh;
          border-radius: 50% 10px 10px 50%;
          background: linear-gradient(60deg, rgba(255, 255, 255), var(--ctacolor));
        }

        .clients-presentation.visible {
          display: flex;

          .client-image {
            width: 50%;
            height: 100%;
            /* border-radius: 50px; */

            img {
              width: 30vh;
              height: 30vh;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }

          .client-details {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;
            color: rgb(52, 52, 52);
          }
        }
      }
    }
  }
}

/* TARIFS */
.prices {
  height: 100%;
  width: 100%;
  background: url("../img/slider-dec.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;

  .title {
    h2 {
      text-align: center;
    }
  }

  .row-offers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;

    .col-offers1,
    .col-offers2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      border-radius: 3rem;
      /* border: 1px solid rgba(0, 0, 0, 0.1); */
      gap: 2rem;
      box-shadow: 0px 0px 12px rgba(130, 130, 130, 0.23);

      p.price {
        position: absolute;
        font-size: 2.7rem;
        font-weight: 900;
        color: white;
        text-shadow: 3px 3px 0px var(--securecolor);
        top: 0px;
        left: 0px;
        margin: 1rem 0rem 0rem 1rem;
      }

      img {
        position: relative;
        width: 7rem;
        filter: drop-shadow(.1rem .1rem 0rem var(--securecolor));
      }

      .valid,
      .invalid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
      }

      .valid {
        p {
          color: var(--securecolor);
          font-size: .9rem;
          font-weight: 300;
        }
      }

      .invalid {
        p {
          color: rgb(132, 132, 132);
          font-size: .9rem;
          font-weight: 300;
          text-decoration: line-through;
          text-decoration-color: rgb(132, 132, 132);
        }
      }

      a.abonnetoi {
        text-decoration: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(60deg, var(--securecolor), var(--ctacolor));

        &:hover {
          scale: 96%;
          rotate: 5deg;
          background: linear-gradient(60deg, rgba(28, 123, 255, 0.463), rgba(101, 211, 255, 0.529)), url("../img/pro-table-top.png");
        }
      }
    }

    .col-offers1 {
      background: url("../img/pro-table-top.png"),
        url("../img/pro-table-bottom.png");
      background-size: 60%;
      background-position: top left, bottom right;
      background-repeat: no-repeat;
      height: 120vh;
    }

    .col-offers2 {
      background: url("../img/regular-table-top.png"),
        url("../img/regular-table-bottom.png");
      background-size: 60%;
      background-position: top left, bottom right;
      background-repeat: no-repeat;
      backdrop-filter: blur(20Px);
      height: 100vh;
    }
  }
}

/* FOOTER */
footer {
  height: 100%;
  width: 100%;
  background: url("../img/footer-bg.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 5rem 0rem 3rem 0rem;
  transition: all .5s ease-in-out;

  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
    margin: 10rem 0rem 0rem 0rem;

    h2 {
      position: relative;
      color: var(--colorprimary);
      text-align: center;

      span {
        color: var(--securecolor);
      }
    }

    h2::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 50px;
      top: 2px;
      left: 2px;
    }
  }

  .title {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgba(28, 123, 255, 0.7);
    padding: 2rem;
    border-radius: 30px;

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 3rem;
      backdrop-filter: blur(10px);

      input.email,
      input.email::placeholder {
        outline: none;
        border: none;
        border-bottom: 1px solid var(--colorsecondary);
        color: var(--colorsecondary);
        background-color: transparent;
        padding: .5rem 0rem;
        text-align: left;
        font-size: .9rem;
        width: 50%;
        /* background: transparent; */
      }

      input.email::placeholder {
        width: 100%;
      }

      button {
        outline: none;
        border: 1px solid white;
        background-color: var(--securecolor);
        color: white;
        border-radius: 30px;
        padding: .5rem 2rem;
        font-size: 1rem;
        width: 50%;
      }
    }
  }

  .row-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    /* justify-content: center; */
    gap: 3rem;
    width: 80%;

    .boxes1,
    .boxes2,
    .boxes3,
    .boxes4 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 25%;
      height: fit-content;
      gap: 2rem;
      color: var(--colorsecondary);
      background: linear-gradient(60deg, rgba(28, 123, 255, 0.2), rgba(101, 211, 255, 0.2));
      padding: 1rem;
      border-radius: 30px;
      backdrop-filter: blur(4px);

      .coordonnees {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .box1,
      .box2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;

        a {
          font-size: .9rem;
          font-weight: 300;
          color: var(--colorsecondary);
        }
      }

      img {
        width: 7rem;
      }
    }

    .boxes4 {
      width: 60%;
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
      color: white;
    }

    a {
      color: white;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  nav {
    padding: 1rem 1rem;

    .logo {
      width: 9rem;
      height: 3rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-row {
      padding: 0rem 2rem;
    }
  }

  .filter {
    .presentation {
      .box {
        width: 60%;
      }
    }
  }

  .services {
    .services-box {
      .services-col {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 1rem 1rem;

    .logo {
      width: 9rem;
      height: 3rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-row {
      .list {
        display: none;
      }

      .menu-aside {
        display: block;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }

  .aside.active {
    .aside-box {
      right: 0px;
    }
  }

  .filter {
    .presentation {
      .box {
        width: 80%;

        p {
          color: var(--colorprimary);
        }
      }
    }
  }

  .services {
    .services-box {
      .services-col {
        width: 45%;
      }
    }
  }

  .clients {
    .clients-row {
      flex-wrap: wrap;

      .statistics {
        width: 90%;
      }

      .quote-presentation {
        width: 100%;

        .quote-client {
          width: 90%;
        }
      }
    }
  }

  .prices {
    .row-offers {
      flex-wrap: wrap;

      .col-offers1,
      .col-offers2 {
        width: 45%;
      }
    }
  }

  footer {
    background-size: 275%;

    .footer-box {
      .title {
        width: 97%;
      }
    }

    .row-footer {

      .boxes1,
      .boxes2,
      .boxes3,
      .boxes4 {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .services,
  .aboutus,
  .clients,
  .prices {

    .title,
    .title.leftbox {
      width: 90%;
    }
  }

  .aboutus {

    .title,
    .title.leftbox {
      width: 100%;
    }

    .aboutus-boxes {
      width: 70%;

      .aboutus-box {
        width: 100%;
      }
    }
  }

  .services {
    .services-box {
      .services-col {
        width: 80%;
      }
    }
  }

  .clients {
    .title {
      width: 100%;
    }

    .clients-row {
      .statistics {
        .clients-statistics {
          flex-direction: column;
          gap: 1rem;

          .type-clients {
            h4 {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .prices {
    .row-offers {

      .col-offers1,
      .col-offers2 {
        width: 80%;
      }
    }
  }

  footer {
    .footer-box {
      width: 98%;

      .title {
        width: 100%;
        padding: 1rem;
        border-radius: 3px;
      }
    }

    .row-footer {

      .boxes1,
      .boxes2,
      .boxes3,
      .boxes4 {
        width: 100%;
        background: linear-gradient(60deg, rgba(28, 123, 255, 0.752), rgba(101, 211, 255, 0.752))
      }
    }
  }
}