@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
/* Importation de la police de caractères */

/* Variables CSS */
:root {
  --colorprimary: #121212;
  /* Couleur principale */
  --colorsecondary: #ffffff;
  /* Couleur secondaire */

  --greycolor: rgb(172, 172, 172);
  /* Couleur grise */

  --securecolor: rgba(28, 123, 255);
  /* Couleur de confiance */
  --ctacolor: rgb(101, 211, 255);
  /* Bouton d'appel à l'action */
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Permet de ne pas déborder du conteneur */
  font-family: "Geist", sans-serif;
  scroll-behavior: smooth;
}

/* Styles globaux */
a {
  text-decoration: none;
  color: var(--colorsecondary);
  text-transform: capitalize;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

p.description {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--greycolor);
}